@model BlogModels.Dtos.HomeBlogInfosDto
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        .image-slider {
            width: 99%;
            height: 35%;
            border: 1px solid #dee2e6;
        }

            .image-slider .slide {
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all linear 0.5s;
                overflow: hidden;
            }

            .image-slider .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                z-index: 50;
            }

            .image-slider .slide .content {
                position: absolute;
                z-index: 100;
                color: white;
                background-color: rgba(0, 0, 0, 0.6);
                bottom: 0px;
                width: 100%;
            }

                .image-slider .slide .content h2 {
                    margin-bottom: 20px;
                }

            .image-slider .slide {
                opacity: 0;
            }

                .image-slider .slide.current {
                    opacity: 1;
                }

                .image-slider .slide .content {
                    opacity: 0;
                    transform: translateY(500px);
                }

                .image-slider .slide.current .content {
                    opacity: 1;
                    transform: translateY(0);
                    transition: all 1s ease-in-out 0.4s;
                }

        #prev {
            position: absolute;
            z-index: 150;
            width: 60px;
            height: 60px;
            font-size: 28px;
            color: white;
            text-align: center;
            line-height: 60px;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 50%;
            top: 35%;
            left: 10px;
            transition: all 0.2s;
            cursor: pointer;
        }

        #next {
            position: absolute;
            z-index: 150;
            width: 60px;
            height: 60px;
            font-size: 28px;
            color: white;
            text-align: center;
            line-height: 60px;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 50%;
            top: 35%;
            right: 10px;
            transition: all 0.2s;
            cursor: pointer;
        }

            #prev:hover,
            #next:hover {
                background-color: rgba(255, 255, 255, 0.4);
                color: black;
            }

        .page-link {
            cursor: pointer;
        }

        .list-group-item {
            margin-top: 10px;
            margin-right: 10px;
        }

        .card-header {
            width: 100%;
            font-family: Helvetica;
            font-weight: 500;
        }

        .card-body {
            width: 100%;
            border: none;
            background: #f7f7f7;
            margin-bottom: -5px;
        }

        .card-footer {
            font-family: Arial;
        }

        .spCommentsCount,
        .spViewCount {
            margin-left: 5px;
            color: dodgerblue;
            vertical-align: central;
        }

        .col-3 {
            object-fit: cover;
        }

        .card-footer .btn {
            font-family: Helvetica;
            background: #3e94a5;
            border-color: #3e94a5;
            color: white;
            margin-left: 5px;
        }

        .link-primarycus {
            color: black;
            transition: color 0.3s;
        }

        .link-primarycus-hover {
            color: blue;
        }

        .weChatdiv {
            display: inline-block;
            background-color: #f2f2f2;
            color: #000;
            cursor: pointer;
            position:relative;
        }


        .qrcode {
            display: none;
            position: absolute;
            top: -110px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f2f2f2;
            border: 1px solid #ccc;
        }

        .weChatdiv:hover .qrcode {
            display: block;
        }

    </style>
</head>
<body>
    <div class="container row">
        <div class="col-md-8">

            <div class="image-slider col-md-8" style="position:relative">
                <div class="slide current">
                    <img src="~/TestImgs/NTE1.jpeg"
                         alt=""
                         class="image" />
                    <div class="content">
                        <h2 class="title">NET1</h2>
                        <p class="description">
                            This is .NET1
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <img src="~/TestImgs/NTE2.png"
                         alt=""
                         class="image" />
                    <div class="content">
                        <h2 class="title">NET2</h2>
                        <p class="description">
                            This is .NET2
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <img src="~/TestImgs/NTE3.jpeg"
                         alt=""
                         class="image" />
                    <div class="content">
                        <h2 class="title">NET3</h2>
                        <p class="description">
                            This is .NET3
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <img src="~/TestImgs/NTE4.png"
                         alt=""
                         class="image" />
                    <div class="content">
                        <h2 class="title">NET4</h2>
                        <p class="description">
                            This is .NET4
                        </p>
                    </div>
                </div>
                <div id="prev">
                    <span><svg t="1681397451925" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8323" width="50" height="50"><path d="M319.64 512.016l336.016-336.008 45.248 45.248L364.896 557.28z" p-id="8324" fill="white"></path><path d="M365.216 466.464l339.976 339.968-45.256 45.256-339.976-339.976z" p-id="8325" fill="white"></path></svg></span>
                </div>
                <div id="next">
                    <span><svg t="1681397416476" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7278" width="50" height="50"><path d="M658.56 557.392L322.536 221.384l45.248-45.256 336.016 336.008z" p-id="7279" fill="white"></path><path d="M704.088 512.2L364.12 852.16l-45.256-45.248 339.976-339.976z" p-id="7280" fill="white"></path></svg></span>
                </div>
            </div>


            <div id="blogItems" style="margin-top:10px">
                <div>
                    <ul id="blogUl" class="list-group">
                        @foreach (var blogInfo in Model.BlogInfoDtos)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <img src="~/ArticleImages/@blogInfo.BlogRelativeImageUrl" class="col-3 img-fluid" />
                                    <div class="col-9 text-start">
                                        <h4 class="card-header">@blogInfo.BlogTitle</h4>
                                        <textarea class="card-body" rows="1">@blogInfo.BlogSummary</textarea>
                                        <div class="card-footer">
                                            <span>@blogInfo.ModifyTime.ToString("D")</span>
                                            <span class="spViewCount">Views:@blogInfo.ViewCount</span>
                                            <span class="spCommentsCount">Comments:@blogInfo.BlogComments?.Count</span>
                                            <a class="btn btn-sm btn-info"
                                           asp-controller="UserBlog"
                                           asp-action="ViewBlog"
                                           asp-route-blogId="@blogInfo.Id">
                                                阅读全文
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div id="aboutWebsite" class="border">
                <div style="background-color:lightgray;width:100%;height:40px;line-height:40px;padding-left:30px">
                    <span class="col-2">
                        <svg t="1656426280697" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2202" width="20" height="20"><path d="M96 256h832c19.2 0 32-12.8 32-32s-12.8-32-32-32H96c-19.2 0-32 12.8-32 32s12.8 32 32 32zM928 480H96c-19.2 0-32 12.8-32 32s12.8 32 32 32h832c19.2 0 32-12.8 32-32s-12.8-32-32-32zM928 768H96c-19.2 0-32 12.8-32 32s12.8 32 32 32h832c19.2 0 32-12.8 32-32s-12.8-32-32-32z" p-id="2203"></path></svg>
                    </span>
                    <span class="col-10" style="font-weight:700">关于本站</span>
                </div>
                <div style="margin-top:10px">
                    <div class="row">
                        <span class="col-3">
                            <svg t="1656426510520" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2583" width="50" height="50"><path d="M128 490.667v-224l256-56.32v276.48l-256 3.84m725.333-384V480l-426.666 6.4V200.96l426.666-94.293M128 533.333l256 3.84v290.56l-256-49.066V533.333M853.333 544v373.333L426.667 835.84V537.6l426.666 6.4z" p-id="2584" fill="#1296db"></path></svg>
                        </span>
                        <p class="col-9">
                            <b>一个关于.NET的博客网站</b>
                            <br />
                            程序人生，永不止步
                        </p>
                    </div>
                    <div class="row">
                        <button class="col-3 btn border" style="margin:0 5px 5px 15px;width:80px">
                            <svg t="1656933859762" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2250" width="30" height="30"><path d="M110.08 808.409c22.43 7.581 46.927 2.973 68.962-13.135 0.572 0.886 1.123 1.752 1.694 2.619-37.632 22.961-58.624 55.02-58.624 90.762 0 73.511 86.469 126.858 205.627 126.858 63.193 0 121.758-16.404 159.39-44.288 12.229 0.689 23.138 0.689 35.505 0.02 37.632 27.864 96.177 44.268 159.37 44.268 119.138 0 205.646-53.347 205.646-126.858 0-35.663-20.913-67.624-58.387-90.605a99.888 99.888 0 0 0 1.713-2.638c21.977 15.99 46.316 20.618 68.766 13.016 67.17-22.823 70.833-140.012 40.192-238.69-16.266-52.342-46.16-93.361-71.07-120.655 0.295-3.78 0.453-7.542 0.453-11.343 0-28.947-7.582-57.029-22.528-83.672v-0.374c0-190.327-153.265-345.187-341.642-345.187-188.396 0-341.661 154.86-341.661 345.187v1.22c-14.632 26.388-22.056 54.213-22.056 82.807 0 3.446 0.118 6.931 0.394 10.476-25.226 27.451-55.473 68.785-71.857 121.54-30.661 98.718-26.998 215.868 40.113 238.672z m7.956-223.725c15.242-49.132 45.45-86.96 68.096-110.02a25.196 25.196 0 0 0 6.892-21.564c-0.827-5.317-1.26-10.397-1.26-15.34 0-21.681 6.301-43.047 18.688-63.429a25.488 25.488 0 0 0 3.623-14.828 79.882 79.882 0 0 1-0.236-5.79c0-162.56 130.678-294.813 291.288-294.813s291.289 132.253 291.289 294.813c0 1.753-0.079 3.446-0.197 5.16a25.277 25.277 0 0 0 3.683 14.828c12.642 20.559 19.042 42.102 19.042 64.04 0 5.159-0.453 10.377-1.359 15.93-1.339 7.917 1.221 15.951 6.833 21.721 22.37 22.902 52.264 60.475 67.407 109.292 26.959 86.784 17.507 167.286-8.211 176.03-13.332 4.51-29.125-9.708-38.952-21.445-5.336-6.42-13.41-9.807-21.937-8.881a25.137 25.137 0 0 0-19.594 13.233 324.714 324.714 0 0 1-31.252 47.97 25.242 25.242 0 0 0-4.549 21.918 25.215 25.215 0 0 0 14.69 16.876c35.152 14.651 55.277 35.88 55.277 58.25 0 42.181-69.651 76.485-155.274 76.485-55.512 0-107.185-14.828-134.813-38.715a25.174 25.174 0 0 0-16.463-6.124c-0.61 0-1.26 0.02-1.87 0.078-17.389 1.3-30.957 1.28-47.853-0.02-6.932-0.61-13.351 1.675-18.393 6.046-27.667 23.907-79.34 38.735-134.872 38.735-85.603 0-155.254-34.304-155.254-76.485 0-22.45 20.243-43.737 55.512-58.368 7.286-3.033 12.721-9.236 14.71-16.876a25.113 25.113 0 0 0-4.51-21.918c-11.874-15.183-22.37-31.35-31.231-48.049a25.163 25.163 0 0 0-19.633-13.253c-8.468-0.886-16.581 2.462-21.957 8.881-9.886 11.835-25.522 26.349-39.11 21.622-25.776-8.704-35.19-89.186-8.25-175.99z" p-id="2251"></path></svg>
                        </button>
                        <div class="weChatdiv col-3">
                            <button class="btn border" style="margin:0 5px 5px 0px;width:80px">
                                <svg t="1656933946855" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3205" width="30" height="30"><path d="M693.12 347.264c11.776 0 23.36 0.896 35.008 2.176-31.36-146.048-187.456-254.528-365.696-254.528C163.2 94.912 0 230.656 0 403.136c0 99.52 54.272 181.248 145.024 244.736L108.8 756.864l126.72-63.488c45.312 8.896 81.664 18.112 126.912 18.112 11.392 0 22.656-0.512 33.792-1.344-7.04-24.256-11.2-49.6-11.2-76.032C385.088 475.776 521.024 347.264 693.12 347.264zM498.304 249.024c27.392 0 45.376 17.984 45.376 45.248 0 27.136-17.984 45.312-45.376 45.312-27.072 0-54.336-18.176-54.336-45.312C443.968 266.944 471.168 249.024 498.304 249.024zM244.672 339.584c-27.2 0-54.592-18.176-54.592-45.312 0-27.264 27.392-45.248 54.592-45.248S289.92 266.944 289.92 294.272C289.92 321.408 271.872 339.584 244.672 339.584zM1024 629.76c0-144.896-145.024-262.976-307.904-262.976-172.48 0-308.224 118.144-308.224 262.976 0 145.28 135.808 262.976 308.224 262.976 36.096 0 72.512-9.024 108.736-18.112l99.392 54.528-27.264-90.624C969.728 783.872 1024 711.488 1024 629.76zM616.128 584.384c-17.984 0-36.224-17.92-36.224-36.224 0-18.048 18.24-36.224 36.224-36.224 27.52 0 45.376 18.176 45.376 36.224C661.504 566.464 643.648 584.384 616.128 584.384zM815.488 584.384c-17.856 0-36.032-17.92-36.032-36.224 0-18.048 18.112-36.224 36.032-36.224 27.264 0 45.376 18.176 45.376 36.224C860.864 566.464 842.752 584.384 815.488 584.384z" p-id="3206"></path></svg>
                            </button>
                            <div class="qrcode">
                                <!--二维码-->
                                <img width="100px" height="100px" src="~/QRImgs/wechat.jpg"/>
                            </div>
                        </div>
                        <button class="col-3 btn border" style="margin:0 5px 5px 0px;width:80px">
                            <svg t="1656933987217" class="icon" viewBox="0 0 1138 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4131" width="30" height="30"><path d="M914.432 518.144q27.648 21.504 38.912 51.712t9.216 62.976-14.336 65.536-31.744 59.392q-34.816 48.128-78.848 81.92t-91.136 56.32-94.72 35.328-89.6 18.944-75.264 7.68-51.712 1.536-49.152-2.56-68.096-10.24-78.336-21.504-79.872-36.352-74.24-55.296-59.904-78.848q-16.384-29.696-22.016-63.488t-5.632-86.016q0-22.528 7.68-51.2t27.136-63.488 53.248-75.776 86.016-90.112q51.2-48.128 105.984-85.504t117.248-57.856q28.672-10.24 63.488-11.264t57.344 11.264q10.24 11.264 19.456 23.04t12.288 29.184q3.072 14.336 0.512 27.648t-5.632 26.624-5.12 25.6 2.048 22.528q17.408 2.048 33.792-1.536t31.744-9.216 31.232-11.776 33.28-9.216q27.648-5.12 54.784-4.608t49.152 7.68 36.352 22.016 17.408 38.4q2.048 14.336-2.048 26.624t-8.704 23.04-7.168 22.016 1.536 23.552q3.072 7.168 14.848 13.312t27.136 12.288 32.256 13.312 29.184 16.384zM656.384 836.608q26.624-16.384 53.76-45.056t44.032-64 18.944-75.776-20.48-81.408q-19.456-33.792-47.616-57.344t-62.976-37.376-74.24-19.968-80.384-6.144q-78.848 0-139.776 16.384t-105.472 43.008-72.192 60.416-38.912 68.608q-11.264 33.792-6.656 67.072t20.992 62.976 42.496 53.248 57.856 37.888q58.368 25.6 119.296 32.256t116.224 0.512 100.864-21.504 74.24-33.792zM522.24 513.024q20.48 8.192 38.912 18.432t32.768 27.648q10.24 12.288 17.92 30.72t10.752 39.424 1.536 42.496-9.728 38.912q-8.192 18.432-19.968 37.376t-28.672 35.328-40.448 29.184-57.344 18.944q-61.44 11.264-117.76-11.264t-88.064-74.752q-12.288-39.936-13.312-70.656t16.384-66.56q13.312-27.648 40.448-51.712t62.464-38.912 75.264-17.408 78.848 12.8zM359.424 764.928q37.888 3.072 57.856-18.432t21.504-48.128-15.36-47.616-52.736-16.896q-27.648 3.072-43.008 23.552t-17.408 43.52 9.728 42.496 39.424 21.504zM778.24 6.144q74.752 0 139.776 19.968t113.664 57.856 76.288 92.16 27.648 122.88q0 33.792-16.384 50.688t-35.328 17.408-35.328-14.336-16.384-45.568q0-40.96-22.528-77.824t-59.392-64.512-84.48-43.52-96.768-15.872q-31.744 0-47.104-15.36t-14.336-34.304 18.944-34.304 51.712-15.36zM778.24 169.984q95.232 0 144.384 48.64t49.152 146.944q0 30.72-10.24 43.52t-22.528 11.264-22.528-14.848-10.24-35.84q0-60.416-34.816-96.256t-93.184-35.84q-19.456 0-28.672-10.752t-9.216-23.04 9.728-23.04 28.16-10.752z" p-id="4132"></path></svg>
                        </button>
                        <button class="col-3 btn border" style="margin:0 5px 5px 0px;width:80px">
                            <svg t="1656934027291" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5040" width="30" height="30"><path d="M512 42.666667A464.64 464.64 0 0 0 42.666667 502.186667 460.373333 460.373333 0 0 0 363.52 938.666667c23.466667 4.266667 32-9.813333 32-22.186667v-78.08c-130.56 27.733333-158.293333-61.44-158.293333-61.44a122.026667 122.026667 0 0 0-52.053334-67.413333c-42.666667-28.16 3.413333-27.733333 3.413334-27.733334a98.56 98.56 0 0 1 71.68 47.36 101.12 101.12 0 0 0 136.533333 37.973334 99.413333 99.413333 0 0 1 29.866667-61.44c-104.106667-11.52-213.333333-50.773333-213.333334-226.986667a177.066667 177.066667 0 0 1 47.36-124.16 161.28 161.28 0 0 1 4.693334-121.173333s39.68-12.373333 128 46.933333a455.68 455.68 0 0 1 234.666666 0c89.6-59.306667 128-46.933333 128-46.933333a161.28 161.28 0 0 1 4.693334 121.173333A177.066667 177.066667 0 0 1 810.666667 477.866667c0 176.64-110.08 215.466667-213.333334 226.986666a106.666667 106.666667 0 0 1 32 85.333334v125.866666c0 14.933333 8.533333 26.88 32 22.186667A460.8 460.8 0 0 0 981.333333 502.186667 464.64 464.64 0 0 0 512 42.666667" p-id="5041"></path></svg>
                        </button>
                    </div>
                </div>
            </div>
            <div id="summary" class="border">
                <div style="background-color:lightgray;width:100%;height:40px;line-height:40px;padding-left:30px">
                    <span class="col-2">
                        <svg t="1656426280697" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2202" width="20" height="20"><path d="M96 256h832c19.2 0 32-12.8 32-32s-12.8-32-32-32H96c-19.2 0-32 12.8-32 32s12.8 32 32 32zM928 480H96c-19.2 0-32 12.8-32 32s12.8 32 32 32h832c19.2 0 32-12.8 32-32s-12.8-32-32-32zM928 768H96c-19.2 0-32 12.8-32 32s12.8 32 32 32h832c19.2 0 32-12.8 32-32s-12.8-32-32-32z" p-id="2203"></path></svg>
                    </span>
                    <span class="col-10" style="font-weight:700">博客概况</span>
                </div>
                <div style="margin-top:10px">
                    <div class="row" style="margin:0 0 0 14px">
                        <span class="col-1">
                            <svg t="1656934787064" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2248" width="30" height="30"><path d="M637.953132 548.278251c71.730695-40.298821 120.348995-116.815519 120.348995-204.542536 0-129.46256-105.705484-234.781234-235.641835-234.781234-129.936351 0-235.628532 105.318674-235.628532 234.781234 0 84.393085 45.041846 158.307516 112.302739 199.683878-152.041812 47.787376-262.605953 189.523471-262.605953 356.600721 0 5.058203 0.560772 9.956769 0.762363 14.97404l52.356438 0c-0.230244-4.986571-0.76134-9.914814-0.76134-14.97404 0-177.279612 144.855132-321.502341 322.909387-321.502341 178.054255 0 322.910411 144.222729 322.910411 321.502341 0 5.058203-0.532119 9.987468-0.775666 14.97404l52.371788 0c0.200568-5.016247 0.760317-9.914814 0.760317-14.97404C887.263268 737.931682 783.009855 600.017636 637.953132 548.278251zM339.389222 343.735715c0-100.588953 82.208327-182.423773 183.27107-182.423773 101.06479 0 183.272094 81.83482 183.272094 182.423773 0 100.589976-82.207303 182.423773-183.272094 182.423773C421.597549 526.159488 339.389222 444.325691 339.389222 343.735715z" p-id="2249"></path></svg>
                        </span>
                        <h6 class="col-3" style="text-align:left;line-height:30px">用户总数:</h6>
                        <span class="col-1" style="text-align:left;line-height:30px">@Model.TotalUsers</span>
                    </div>
                    <div class="row" style="margin:0 0 0 14px">
                        <span class="col-1">
                            <svg t="1656943125069" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2275" width="30" height="30"><path d="M704 914.474667c2.901333-2.304 5.504-4.736 7.808-7.253334l112.64-122.368c8.704-9.472 16.469333-23.552 21.76-38.186666H768c-35.541333 0-64 28.586667-64 64.213333v103.594667z m-42.666667 21.162666v-124.757333A106.581333 106.581333 0 0 1 768 704h85.333333V159.530667C853.333333 118.698667 822.784 85.333333 785.066667 85.333333H238.933333C201.344 85.333333 170.666667 118.570667 170.666667 159.573333v704.853334c0 41.045333 30.549333 74.24 68.266666 74.24h401.365334c6.528 0 13.738667-1.066667 21.034666-2.986667zM640.298667 981.333333H238.933333C176.810667 981.333333 128 928.256 128 864.426667V159.573333C128 95.786667 176.896 42.666667 238.933333 42.666667h546.133334C847.146667 42.666667 896 95.829333 896 159.530667v551.168c0 34.389333-16.853333 77.696-40.192 103.04l-112.64 122.410666c-24.021333 26.112-67.413333 45.184-102.826667 45.184z" p-id="2276"></path><path d="M320 256h256a21.333333 21.333333 0 1 0 0-42.666667h-256a21.333333 21.333333 0 0 0 0 42.666667zM320 426.666667h341.333333a21.333333 21.333333 0 1 0 0-42.666667h-341.333333a21.333333 21.333333 0 0 0 0 42.666667zM320 597.333333h341.333333a21.333333 21.333333 0 1 0 0-42.666666h-341.333333a21.333333 21.333333 0 1 0 0 42.666666z" p-id="2277"></path></svg>
                        </span>
                        <h6 class="col-3" style="text-align:left;line-height:30px">文章总数:</h6>
                        <span class="col-1" style="text-align:left;line-height:30px">@Model.TotalBlogs</span>
                    </div>
                    <div class="row" style="margin:0 0 0 14px">
                        <span class="col-1">
                            <svg t="1656943212887" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3976" width="30" height="30"><path d="M122.065592 200.99371m-51.776224 0a50.597 50.597 0 1 0 103.552447 0 50.597 50.597 0 1 0-103.552447 0Z" p-id="3977"></path><path d="M122.065592 459.888132c-28.593222 0-51.776224 23.171746-51.776224 51.763944 0 28.605501 23.183002 51.774177 51.776224 51.774177 28.593222 0 51.777247-23.167652 51.777247-51.774177C173.841815 483.059877 150.658813 459.888132 122.065592 459.888132z" p-id="3978"></path><path d="M122.065592 770.535241c-28.593222 0-51.776224 23.183002-51.776224 51.776224 0 28.609595 23.183002 51.788503 51.776224 51.788503 28.593222 0 51.777247-23.178909 51.777247-51.788503C173.841815 793.718243 150.658813 770.535241 122.065592 770.535241z" p-id="3979"></path><path d="M251.505639 796.424888l698.980555 0 0 51.776224-698.980555 0 0-51.776224Z" p-id="3980"></path><path d="M251.505639 485.765499l698.980555 0 0 51.7752-698.980555 0 0-51.7752Z" p-id="3981"></path><path d="M251.505639 175.105087l698.980555 0 0 51.777247-698.980555 0 0-51.777247Z" p-id="3982"></path></svg>
                        </span>
                        <h6 class="col-3" style="text-align:left;line-height:30px">分类总数:</h6>
                        <span class="col-1" style="text-align:left;line-height:30px">@Model.TotalKinds</span>
                    </div>
                    <div class="row" style="margin:0 0 0 14px">
                        <span class="col-1">
                            <svg t="1656943256974" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4922" width="30" height="30"><path d="M853.333333 1024l-341.333333-273.066667-341.333333 273.066667V0h682.666666v1024z" p-id="4923" fill="#8a8a8a"></path></svg>
                        </span>
                        <h6 class="col-3" style="text-align:left;line-height:30px">标签总数:</h6>
                        <span class="col-1" style="text-align:left;line-height:30px">@Model.TotalTags</span>
                    </div>
                    <div class="row" style="margin:0 0 0 14px">
                        <span class="col-1">
                            <svg t="1656943358597" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5962" width="30" height="30"><path d="M290.8 417.7c-29.7 0-53.8 24.1-53.8 53.8 0 29.7 24.1 53.8 53.8 53.8s53.8-24.1 53.8-53.8c-0.1-29.8-24.1-53.8-53.8-53.8zM512.1 417.7c-29.7 0-53.8 24.1-53.8 53.8 0 29.7 24.1 53.8 53.8 53.8 29.7 0 53.8-24.1 53.8-53.8 0-29.8-24.1-53.8-53.8-53.8zM733.4 417.7c-29.7 0-53.8 24.1-53.8 53.8 0 29.7 24.1 53.8 53.8 53.8 29.7 0 53.8-24.1 53.8-53.8 0-29.8-24.1-53.8-53.8-53.8z" p-id="5963"></path><path d="M512.1 104.2C229.8 104.2 0.1 264.5 0.1 461.5c0 108 67.3 207.9 185.3 275.8-2.6 10.7-8.6 27-12.5 37.8-13.8 37.9-24.7 67.9-13 92.1 5.1 10.6 14 18.4 25.1 22.1 4.2 1.4 8.3 2.1 12.7 2.1 20.6 0 46.1-15.6 99.6-50.1 20.7-13.3 51-32.8 63.7-38.2 48.7 10.4 99.4 15.7 150.9 15.7 282.3 0 511.9-160.3 511.9-357.4 0.2-196.9-229.4-357.2-511.7-357.2z m0 648.9c-48.9 0-97-5.2-142.9-15.5-21.8-4.9-44.2 7.8-107.4 48.5-8.8 5.7-19.4 12.5-29.6 18.9 0.9-2.6 1.8-5.1 2.6-7.3 15.4-42.4 32.9-90.5-5.2-111.1C125.6 630.4 66 548.4 66 461.5 66 300.8 266.1 170 512.1 170s446.1 130.8 446.1 291.5c0 160.8-200.1 291.6-446.1 291.6z" p-id="5964"></path></svg>
                        </span>
                        <h6 class="col-3" style="text-align:left;line-height:30px">评论总数:</h6>
                        <span class="col-1" style="text-align:left;line-height:30px">@Model.TotalComments</span>
                    </div>
                    <div class="row" style="margin:0 0 0 14px">
                        <span class="col-1">
                            <svg t="1656943471055" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7872" width="30" height="30"><path d="M512 641c-71.245 0-129-57.755-129-129s57.755-129 129-129 129 57.755 129 129-57.755 129-129 129z m0-64c35.899 0 65-29.101 65-65s-29.101-65-65-65-65 29.101-65 65 29.101 65 65 65z m448.178-65c-87.175 157.987-255.385 265-448.589 265S150.175 669.987 63 512h0.411C150.586 354.013 318.796 247 512 247s361.414 107.013 448.589 265h-0.411z m-74.361 0C805.624 390.878 668.14 311 512 311c-156.14 0-293.624 79.878-373.817 201h-0.41c80.192 121.122 217.676 201 373.816 201s293.624-79.878 373.817-201h0.41z" p-id="7873"></path></svg>
                        </span>
                        <h6 class="col-3" style="text-align:left;line-height:30px">浏览总量:</h6>
                        <span class="col-1" style="text-align:left;line-height:30px">@Model.TotalBlogViews</span>
                    </div>
                </div>
            </div>
            <div id="currentSpan" class="border">
                <div style="background-color:lightgray;width:100%;height:40px;line-height:40px;padding-left:30px">
                    <span class="col-2">
                        <svg t="1656426280697" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2202" width="20" height="20"><path d="M96 256h832c19.2 0 32-12.8 32-32s-12.8-32-32-32H96c-19.2 0-32 12.8-32 32s12.8 32 32 32zM928 480H96c-19.2 0-32 12.8-32 32s12.8 32 32 32h832c19.2 0 32-12.8 32-32s-12.8-32-32-32zM928 768H96c-19.2 0-32 12.8-32 32s12.8 32 32 32h832c19.2 0 32-12.8 32-32s-12.8-32-32-32z" p-id="2203"></path></svg>
                    </span>
                    <span class="col-10" style="font-weight:700">热门文章</span>
                </div>
                <div style="margin-top:10px">
                    <div id="articleTitle">
                        @foreach (var blog in Model.MostPopularBlogs)
                        {
                            <div style="margin-left:30px;margin-top:5px;margin-bottom:5px">
                                <a class="link-primarycus" style="cursor:pointer"
                                asp-controller="UserBlog" asp-action="ViewBlog"
                                   asp-route-blogId="@blog.Id">@blog.BlogTitle</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="currentComments" class="border">
                <div style="background-color:lightgray;width:100%;height:40px;line-height:40px;padding-left:30px">
                    <span class="col-2">
                        <svg t="1656426280697" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2202" width="20" height="20"><path d="M96 256h832c19.2 0 32-12.8 32-32s-12.8-32-32-32H96c-19.2 0-32 12.8-32 32s12.8 32 32 32zM928 480H96c-19.2 0-32 12.8-32 32s12.8 32 32 32h832c19.2 0 32-12.8 32-32s-12.8-32-32-32zM928 768H96c-19.2 0-32 12.8-32 32s12.8 32 32 32h832c19.2 0 32-12.8 32-32s-12.8-32-32-32z" p-id="2203"></path></svg>
                    </span>
                    <span class="col-10" style="font-weight:700">最近评论</span>
                </div>
                <div style="margin-top:10px">
                    @foreach (var comment in Model.MostNewBlogComments)
                    {
                        <div class="row" style="margin:7px">
                            <img src="~/UserAvatars/@comment.CommentUserAvatar"
                                 class="col-2 img-fluid" style="border-radius:25px" height="50" width="50" />
                            <p class="col-10 comment-body">@comment.CommentBody</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="divPage col-md-8" style="margin-right:10px">
        <nav>
            <ul class="pagination justify-content-center" style="margin-top:30px">
                <li class="page-item" style="margin-top:10px" id="firstPageBtn">
                    <a class="page-link">首页</a>
                </li>
                <li class="page-item" style="margin-top:10px" id="preBtn">
                    <a class="page-link">上一页</a>
                </li>
                <li class="page-item" style="margin-top:10px" id="nextBtn">
                    <a class="page-link">下一页</a>
                </li>
                <li class="page-item" style="margin-top:10px" id="lastPageBtn">
                    <a class="page-link">末页</a>
                </li>
            </ul>
        </nav>
    </div>
</body>

<script>
    $(function () {
        const prev = document.querySelector("#prev");
        const next = document.querySelector("#next");

        const slides = document.querySelectorAll(".slide");

        var currentIndex = 0;
        var autoPlay = true;
        var forward = true;
        var interval = 5000;
        next.addEventListener("click", handleNextClicked);
        prev.addEventListener("click", handlePrevClicked);

        if (autoPlay) {
            setInterval(
                forward ? handleNextClicked : handlePrevClicked, interval
            );
        }

        function handleNextClicked() {
            let current = slides[currentIndex];
            current.classList.remove("current");
            currentIndex++;
            if (currentIndex >= slides.length) {
                currentIndex = 0;
            }
            slides[currentIndex].classList.add("current");
        }

        function handlePrevClicked() {
            let current = slides[currentIndex];
            current.classList.remove("current");
            currentIndex--;
            if (currentIndex < 0) {
                currentIndex = slides.length - 1;
            }
            slides[currentIndex].classList.add("current");
        }

    });
</script>

<!--点击换页-->
<script>
    let pageNumber = 1;
    let pageSize = 3;
    let last = (@Model.TotalBlogs) / pageSize;

    let refreshData = function (blogData) {
        //动态改变html的内容
        let blogDataHtml = "";
        $("#blogUl").empty();
        for (var i = 0; i < blogData.length; i++) {
            var dateObj = new Date(blogData[i].modifyTime);
            var blogId = blogData[i].id;
            console.log(blogData[i].blogTitle);
            blogDataHtml += "<li class='list-group-item'>";
            blogDataHtml += "<div class='row'>";
            var imgUri = "/ArticleImages/" + blogData[i].blogRelativeImageUrl;
            blogDataHtml += "<img src='" + imgUri + "'" + "class='col-3 img-fluid'" + " " + "/>";
            blogDataHtml += "<div class='col-9 text-start'>";
            blogDataHtml += "<h4 class='card-header'>" + blogData[i].blogTitle + "</h4>";
            blogDataHtml += "<textarea class='card-body' rows='1'>" + blogData[i].blogSummary + "</textarea>";
            blogDataHtml += "<div class='card-footer'>";
            blogDataHtml += "<span>" + dateObj.toLocaleString() + "</span>";
            blogDataHtml += "<span class='spViewCount'>" + "Views:" + blogData[i].viewCount + "</span>";
            blogDataHtml += "<span class='spCommentsCount'>" + "Comments:" + blogData[i].blogComments.length + "</span>";
            blogDataHtml += "<a class='btn btn-sm btn-info' href='/ViewBlog?blogId=" + blogId + "'>阅读全文</a>";
            blogDataHtml += "</div>";
            blogDataHtml += "</div>";
            blogDataHtml += "</div>";
            blogDataHtml += "</li>";
            $("#blogUl").append(blogDataHtml);
            blogDataHtml = "";
        }

    }

    function GetBlogInfoByPage() {
        $.ajax({
            type: "POST",
            url: "/Home/GetBlogInfosByPage",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                "pageNumber": pageNumber,
                "pageSize": pageSize,
            }),
            success: function (response) {
                refreshData(response);
            },
            failure: function (response) {
                alert("Failed to Get Blog Info!");
            }
        });
    }

    //上一页
    $("#preBtn a").click(function () {
        if (pageNumber > 1) {
            pageNumber = pageNumber - 1;
            GetBlogInfoByPage();
        }
    });

    //下一页
    $("#nextBtn a").click(function () {
        if (pageNumber < last) {
            pageNumber = pageNumber + 1;
            GetBlogInfoByPage();
        }
    });

    //首页
    $("#firstPageBtn a").click(function () {
        pageNumber = 1;
        GetBlogInfoByPage();
    });

    //末页
    $("#lastPageBtn a").click(function () {
        pageNumber = last;
        GetBlogInfoByPage();
    });


</script>

<!--限制评论文本的字数-->
<script>
    $(document).ready(function () {
        $(".comment-body").each(function () {
            var maxCharacters = 10; // 设置最大字符数
            var commentText = $(this).text();
            if (commentText.length > maxCharacters) {
                var trimmedText = commentText.substr(0, maxCharacters) + "...";
                $(this).text(trimmedText);
            }
        });
    });
</script>