@model List<BlogModels.Dtos.BlogInfoDto>
@{
    ViewBag.Title = "我的博客";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetCoreBlog.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        .page-link {
            cursor: pointer,
        }

        .spCommentsCount,
        .spViewCount {
            margin-left: 5px;
            color: dodgerblue;
            vertical-align: central;
        }

    </style>
</head>
<body>
    <header>
        <div class="col float-left" style="margin-bottom:10px;margin-top:10px">
            <a class="alert-link" asp-controller="Identity" asp-action="EditUserInfo">我的资料</a>
            <a class="alert-link" style="margin-left:10px" asp-controller="UserBlog" asp-action="CreateNewBlog">创建新文章</a>
            <label style="margin-left:10px">我的文章数量:@Model.Count</label>
            <label style="margin-left:10px">文章阅读数量:@Model.Select(m=>m.ViewCount).Sum()</label>
        </div>
    </header>

    <div class="row">
        <div id="blogUlDiv" class="container col-md-9">
            @foreach (var blog in Model.Take(2))
            {
                <ul id="blogUl" class="list-group">
                    <li class="list-group-item" style="margin-top:10px">
                        <div class="row">
                            <img src="~/ArticleImages/@blog.BlogRelativeImageUrl" class="col-3 img-fluid" />
                            <div class="col-9 text-start" style="background:white">
                                <h4 class="card-header" style="width:100%;font-family:Helvetica;font-weight:500">@blog.BlogTitle</h4>
                                <textarea class="card-body" rows="3" style="width:100%;border:none;background:#f7f7f7;margin-bottom:-5px">@blog.BlogContent</textarea>
                                <div class="card-footer" style="font-family:Arial">
                                    <span>@blog.ModifyTime.ToString("D")</span>
                                    <span style="margin-left:5px;color:dodgerblue;vertical-align:central">Views:@blog.ViewCount</span>
                                    <span style="margin-left:5px;color:dodgerblue;vertical-align:central">Comments:@blog.BlogComments?.Count</span>
                                    <a class="btn btn-sm btn-info"
                                   asp-controller="UserBlog" asp-action="ViewBlog" asp-route-blogId="@blog.Id"
                                       style="font-family:Helvetica;background:#3e94a5;border-color:#3e94a5;color:white;margin-left:5px">
                                        阅读全文
                                    </a>
                                    <a class="btn btn-sm btn-info"
                                   asp-controller="UserBlog" asp-action="EditBlog" asp-route-blogId="@blog.Id"
                                       style="font-family:Helvetica;background:#f0ad4e;border-color:#f0ad4e;color:white;margin-left:5px">
                                        编辑文章
                                    </a>
                                    <button class="btn btn-sm btn-info delBtn" data-blog-id="@blog.Id"
                                            data-toggle="modal" data-target="#deleteModal"
                                            style="font-family:Helvetica;background:#dc3545;border-color:#dc3545;color:white;margin-left:5px">
                                        删除文章
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        </div>
        <div class="col-md-3 card" style="margin-top:10px">
            <div class="row">
                <div class="col" style="border-bottom:1px solid #dfdfdf;background:#f8f8f8">
                    <svg t="1660224997222" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2364" width="25" height="25"><path d="M384 480H192c-52.8 0-96-43.2-96-96V192c0-52.8 43.2-96 96-96h192c52.8 0 96 43.2 96 96v192c0 52.8-43.2 96-96 96zM192 160c-17.6 0-32 14.4-32 32v192c0 17.6 14.4 32 32 32h192c17.6 0 32-14.4 32-32V192c0-17.6-14.4-32-32-32H192zM832 480H640c-52.8 0-96-43.2-96-96V192c0-52.8 43.2-96 96-96h192c52.8 0 96 43.2 96 96v192c0 52.8-43.2 96-96 96zM640 160c-17.6 0-32 14.4-32 32v192c0 17.6 14.4 32 32 32h192c17.6 0 32-14.4 32-32V192c0-17.6-14.4-32-32-32H640zM384 928H192c-52.8 0-96-43.2-96-96V640c0-52.8 43.2-96 96-96h192c52.8 0 96 43.2 96 96v192c0 52.8-43.2 96-96 96zM192 608c-17.6 0-32 14.4-32 32v192c0 17.6 14.4 32 32 32h192c17.6 0 32-14.4 32-32V640c0-17.6-14.4-32-32-32H192zM832 928H640c-52.8 0-96-43.2-96-96V640c0-52.8 43.2-96 96-96h192c52.8 0 96 43.2 96 96v192c0 52.8-43.2 96-96 96zM640 608c-17.6 0-32 14.4-32 32v192c0 17.6 14.4 32 32 32h192c17.6 0 32-14.4 32-32V640c0-17.6-14.4-32-32-32H640z" p-id="2365" fill="#515151"></path></svg>
                    <span class="card-title" style="background:#f8f8f8;font-weight:bold;height:40px;display:line-block;vertical-align:middle;line-height:40px">站内搜索</span>
                </div>
                <div class="card-body" style="border-bottom:1px solid #dfdfdf;margin-top:10px">
                    <div class="input-group" style="margin-bottom:10px">
                        <input type="text" class="form-control" placeholder="输入搜索内容" />
                        <span class="input-group-btn btn btn-primary">搜索</span>
                    </div>
                </div>
            </div>
            <div style="margin-top:10px">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row" style="background:red">
                                <img src="#" class="col-3 img-fluid" />
                                <div class="col-9" style="background:orange">
                                    <h4>Title</h4>
                                    <textarea>Content</textarea>
                                    <div class="row">
                                        <span class="col-3" style="text-align:left">3</span>
                                        <span class="col-9" style="text-align:right">2018/11/26</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="divPage col-md-9" style="margin-right:10px">
        <nav>
            <ul class="pagination justify-content-center" style="margin-top:30px">
                <li class="page-item" style="margin-top:10px" id="firstPageBtn">
                    <a class="page-link">首页</a>
                </li>
                <li class="page-item" style="margin-top:10px" id="preBtn">
                    <a class="page-link">上一页</a>
                </li>
                <li class="page-item" style="margin-top:10px" id="nextBtn">
                    <a class="page-link">下一页</a>
                </li>
                <li class="page-item" style="margin-top:10px" id="lastPageBtn">
                    <a class="page-link">末页</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Modal component -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete blog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this blog?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="delCancelBtn">取消</button>
                    <button type="button" class="btn btn-danger" id="delSureBtn">确定</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var delBlogId;
            $('.delBtn').click(function () {
                delBlogId = $(this).data("blog-id");
                $('#deleteModal').modal('show');
            });
            $('#delCancelBtn').click(function () {
                $('#deleteModal').modal('hide');
                return false;
            });
            $('#delSureBtn').click(function () {
                $('#deleteModal').modal('hide');
                $.ajax({
                    url: "/UserBlog/DeleteBlog",
                    type: "POST",
                    data: { blogId: delBlogId },
                    success: function (result) {
                        // 如果删除成功，从 DOM 中删除博客列表项
                        if (result.success) {
                            $("#blogUl li div div div button[data-blog-id='" + delBlogId + "']").closest("li").remove();
                        }
                    },
                    failure: function (response) {
                        alert("Failed to Delete Blog!");
                    }
                });
                return false;
            });
        });
    </script>

    <script>
        let pageNumber = 1;
        let pageSize = 2;
        let last = (@Model.Count)/pageSize;

        let refreshData = function (blogData) {
            //动态改变html的内容
            let blogDataHtml = "";
            for (var i = 0; i < blogData.length; i++) {
                var dateObj = new Date(blogData[i].modifyTime);
                var blogId = blogData[i].id;
                if (i == 0) {
                    $("#blogUlDiv").append("<ul id='blogUl' class='list-group'>");
                }
                blogDataHtml += "<li class='list-group-item'>";
                blogDataHtml += "<div class='row'>";
                var imgUri = "/ArticleImages/" + blogData[i].blogRelativeImageUrl;
                blogDataHtml += "<img src='" + imgUri + "'" + "class='col-3 img-fluid'" + " " + "/>";
                blogDataHtml += "<div class='col-9 text-start'>";
                blogDataHtml += "<h4 class='card-header'>" + blogData[i].blogTitle + "</h4>";
                blogDataHtml += "<textarea class='card-body' rows='2' style='width:100%;border:none;background:#f7f7f7;margin-bottom:-5px'>" + blogData[i].blogSummary + "</textarea>";
                blogDataHtml += "<div class='card-footer'>";
                blogDataHtml += "<span>" + dateObj.toLocaleString() + "</span>";
                blogDataHtml += "<span class='spViewCount'>" + "Views:" + blogData[i].viewCount + "</span>";
                blogDataHtml += "<span class='spCommentsCount'>" + "Comments:" + blogData[i].blogComments.length + "</span>";
                blogDataHtml += "<a class='btn btn-sm btn-info' style='font-family:Helvetica;background:#3e94a5;border-color:#3e94a5;color:white;margin-left:5px' href='/ViewBlog?blogId=" + blogId + "'>阅读全文</a>";
                blogDataHtml += "<a class='btn btn-sm btn-info' style='font-family:Helvetica;background:#f0ad4e;border-color:#f0ad4e;color:white;margin-left:5px' href='/EditBlog?blogId=" + blogId + "'>编辑文章</a>";
                blogDataHtml += "<button class='btn btn-sm btn-info delBtn' data-toggle='modal' data-target='#deleteModal' style='font-family:Helvetica;background:#dc3545;border-color:#dc3545;color:white;margin-left:5px' data-blog-id=" + blogId + "'>删除文章</button>";
                blogDataHtml += "</div>";
                blogDataHtml += "</div>";
                blogDataHtml += "</div>";
                blogDataHtml += "</li>";
                $("#blogUlDiv").append(blogDataHtml);
                if (i == blogData.length){
                    $("#blogUlDiv").append("</ul>");
                }
                blogDataHtml = "";
            }
        }

        function GetBlogInfoByPage() {
            $.ajax({
                type: "POST",
                url: "/UserBlog/GetBlogsByPage",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    "pageNumber": pageNumber,
                    "pageSize": pageSize,
                }),
                success: function (response) {
                    refreshData(response);
                },
                failure: function (response) {
                    alert("Failed to Get Blog Info!\n" + response.ErrorMessage);
                }
            });
        }

        //上一页
        $("#preBtn a").click(function () {
            if (pageNumber > 1) {
                pageNumber = pageNumber - 1;
                $("#blogUlDiv").children().remove();
                GetBlogInfoByPage();
            }
        });

        //下一页
        $("#nextBtn a").click(function () {
            if (pageNumber < last) {
                pageNumber = pageNumber + 1;
                $("#blogUlDiv").children().remove();
                GetBlogInfoByPage();
            }
        });

        //首页
        $("#firstPageBtn a").click(function () {
            pageNumber = 1;
            $("#blogUlDiv").children().remove();
            GetBlogInfoByPage();
        });

        //末页
        $("#lastPageBtn a").click(function () {
            pageNumber = last;
            $("#blogUlDiv").children().remove();
            GetBlogInfoByPage();
        });


    </script>

</body>

