@using Newtonsoft.Json;
@model BlogModels.ViewModels.NewBlogContentViewModel
@Html.AntiForgeryToken()
@{
     ViewBag.Title = "查看博客";
}
<!--这里只做显示，不可编辑-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Emoji/dist/emojionearea.min.css" />
    <link rel="stylesheet" href="~/MarkDown/css/editormd.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Emoji/dist/emojionearea.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <!--引入editormd文件-->
    <script src="~/MarkDown/src/editormd.js"></script>
    <script src="~/MarkDown/lib/marked.min.js"></script>
    <script src="~/MarkDown/lib/prettify.min.js"></script>
    <script src="~/MarkDown/lib/raphael.min.js"></script>
    <script src="~/MarkDown/lib/underscore.min.js"></script>
    <script src="~/MarkDown/lib/sequence-diagram.min.js"></script>
    <script src="~/MarkDown/lib/flowchart.min.js"></script>
    <script src="~/MarkDown/lib/jquery.flowchart.min.js"></script>

</head>

<body>

    <div class="card">
        <div class="card-header">
            <div class="box" style="display:flex;justify-content:center">
                <span class="box-shadow" style="vertical-align:middle;font-weight:600;font-family:Helvetica;font-size:18pt">@Model.BlogTitle</span>
            </div>
        </div>

        <div class="card-body" id="editor" style="width:90%;height:800px">
            <textarea>@Model.BlogContent</textarea>
        </div>

        <div class="card-footer" style="display:flex;justify-content:left">
            <div>
                <span>文章标签:</span>
            </div>
            <ul class="list-unstyled list-inline" style="margin-left:10px">
                @foreach (var tag in Model.BlogTagList)
                {
                    <li class="list-inline-item" style="justify-content:center;align-items:center">
                        <!--块元素的文字居中:height:30px;line-height:30px-->
                        <span style="color:white;background-color:#31a6a0;border-radius:3px;display:block;vertical-align:middle;width:100px;height:30px;line-height:30px;padding-left:10px">
                            @tag.ToString()
                        </span>
                    </li>
                }
            </ul>
        </div>
    </div>

    <!--文章底部放置评论功能模块-->

    <div class="card">
        <div>
            <span style="font-family:Helvetica;font-weight:bold;margin-left:15px;margin-top:10px">发表评论</span>
        </div>



        <div>
            <form id="commentForm" class="form-control">
                <input id="inputBlogId" type="text" value="@Model.BlogId" style="display:none" />
                <textarea id="emojiText" rows="5" style="width:100%">@Model.NewBlogComment.CommentBody</textarea>
                <div class="input-group" style="width:50%">
                    <span class="input-group-text">昵称</span>
                    <input id="inputUserName" type="text" class="form-control" placeholder="User Name" value="@Model.NewBlogComment.CommentUserName"/>
                </div>
                <div class="input-group" style="width:50%;margin-top:10px">
                    <span class="input-group-text">邮箱</span>
                    <input id="inputEmail" type="email" class="form-control" placeholder="User Email" value="@Model.NewBlogComment.CommentUserEmail"/>
                </div>
                <input type="button" class="btn btn-primary" onclick="SubCommentAjax();" style="width:15%;margin-top:10px" value="提交"/>
            </form>
        </div>
    </div>

    <div style="margin-top:50px">
        <!--展示该博客下面的评论，并且分页展示，一页最多十条-->
        <table id="commentTable" class="table table-bordered">
            <thead>
                <tr id="show_tab_one">
                    <th>用户名</th>
                    <th>评论时间</th>
                    <th>评论内容</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bc in Model.BlogComments)
                {
                    <tr id="show_tab_two">
                        <td>@bc.CommentUserName</td>
                        <td>@bc.CommentDate</td>
                        <td>@bc.CommentBody</td>
                    </tr>
                }
            </tbody>
        </table>
        <!--利用js实现分页-->

        <div id="cd" style="margin-top:20px">
            <input type="button" style="height:30px;background:#ededed;border:gray" value="上一页" id="lastPage" />
            <input type="text" style="height:30px;background:white" id="curPage" size="3" />
            <input type="button" style="height:30px;background:#ededed;border:gray" id="nPage" value="确定" />
            <input type="button" style="height:30px;background:#ededed;border:gray" value="下一页" id="nextPage" />
            共<input id="page" style="height:30px;background:white" type="text" size="1" readonly="readonly" />页
            每页显示<input id="pageSize" style="height:30px;background:white" type="text" value="2" size="3">行<input style="height:30px;background:#ededed;border:gray" type="button" value="确定" onclick="pageSize2()">
        </div>

    </div>

    <script type="text/javascript">

        //初始化分页函数
        var pageSize = 2;  //每页显示的记录条数
        var curPage = 0;   //显示第curPage页
        var len;           //总行数
        var page;          //总页数

        $(function () {

            //初始化富文本编辑器
            var editor = editormd.markdownToHTML("editor", {
                htmlDecode: "style, script, iframe",
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
                syncScrolling: "single",
                path: "~/MarkDown/lib/",  // Autoload modules mode, codemirror, marked... dependents libs path
            });



            len = $("#commentTable tr").length-1;  
            //console.log("len="+len);
            page = len % pageSize == 0 ? len / pageSize : Math.floor(len / pageSize) + 1;
            //console.log("page=" + page);
            document.getElementById("page").value = page; 
            curPage = 1;
            displayPage();     //显示第一页

            //$("#cd").children().css("height","30px");

            $("#nextPage").click(function () {//下一页
                if (curPage < page) {
                    curPage += 1;
                }
                else {
                    alert("已经是最后一页");
                }
                displayPage();
            });
            $("#lastPage").click(function () {//上一页
                if (curPage > 1) {
                    curPage -= 1;
                }
                else {
                    alert("已经是第一页");
                }
                displayPage();
            });
            $("#nPage").click(function () {//跳到固定某一页
                var npage = parseInt(document.getElementById("curPage").value);
                if (npage > page || npage < 1) {
                    alert("该页不存在");
                }
                else {
                    curPage = npage;
                }
                displayPage();
            });

        });

        $(function displayPage(){
            var begin = (curPage-1)*pageSize;   //0*
            var end = begin+pageSize;
            if(end > len) end=len;
            //console.log("begin=" + begin);
            //console.log("end=" + end);
            $("#commentTable tr").hide();
            //console.log("table tr count:" + $("#commentTable tr").length);
            $("#commentTable tr").each(function (i) {
                if (i - 1 >= begin && i - 1 < end)//显示第page页的记录
                {
                    //console.log("table tr foreach count:"+i);
                    $("#show_tab_one").show();
                    $(this).show();
                    document.getElementById("curPage").value = curPage;
                }
            });
        
        });

        function pageSize2() {
            curPage = 0;   //显示第curPage页
            pageSize = parseInt(document.getElementById("pageSize").value);
            len = $("#commentTable tr").length - 1;   //去掉表头
            page = len % pageSize == 0 ? len / pageSize : Math.floor(len / pageSize) + 1;//根据记录条数，计算页数
            document.getElementById("page").value = page;
            curPage = 1;
            displayPage();//显示第一页
        }

    </script>

    <script type="text/javascript">
        $(function(){
            $("#emojiText").emojioneArea({
                pickerPosition:"bottom"
            });
        });
    </script>

    <!--点击提交ajax请求-->
    <script type="text/javascript">
        function SubCommentAjax() {
            $.ajax({
                type: "POST",
                url: "/UserBlog/SubmitBlogComment",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    "Blogid": $("#inputBlogId").val(),
                    "Commentbody": $("#emojiText").val(),
                    "Commentusername": $("#inputUserName").val(),
                    "Commentuseremail": $("#inputEmail").val(),
                }),
                success: function (response) {
                    alert("Success:"+response);
                },
                failure: function (response) {
                    alert("Failed:"+response);
                }
            });
        }
    </script>

</body>

@*@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}*@
